#background {
    -fx-background-image: url("resources/background.png");
    background-image: url("resources/background.png");

    -fx-background-repeat: no-repeat;
    background-repeat: no-repeat;

    -fx-background-position: center center;
    background-position: center center;
}

.home-menu {
    -fx-background-image: url("resources/homeBackground.png");
    background-image: url("resources/homeBackground.png");

    -fx-background-repeat: no-repeat;
    background-repeat: no-repeat;


    -fx-padding: 20px 10px 20px 60px;
    padding: 20px 10px 20px 60px;
}

.home-menu .title {
    -fx-font-size: 65px;
    font-size: 65px;

    -fx-text-fill: black;
    color: black;

    -fx-font-weight: bold;
    font-weight: bold;
}

.home-menu .button {
    -fx-background-color: none;
    background-color: none;
    
    -fx-text-fill: white;
    color: white;

    -fx-font-size: 35px;
    font-size: 35px;

    -fx-font-weight: bold;
    font-weight: bold;
}

/* ---------------------------------------------------- */

.hand {
    -fx-alignment: center;
    align-content: center;
}

.players {
    -fx-padding: 10px;
    padding: 10px;
}

.selection-pane {
    -fx-padding: 10px;
    padding: 10px;

    -fx-background-color: rgba(128, 128, 128, 0.275);
    background-color: rgba(128, 128, 128, 0.275);
}

.settings-menu {
    -fx-background-color: radial-gradient(center 0% 0% , radius 200% , #FF000A, black);
    background-color: radial-gradient(center 0% 0% , radius 200% , #FF000A, black);

    -fx-background-radius: 13px;

    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.5) , 50 , 0.3 , 0, 0);
    box-shadow: dropshadow(gaussian , rgba(0, 0, 0, 0.5) , 50 , 0.3 , 0, 0);
}

.settings-menu .label {
    -fx-font-size: 25px;
    font-size: 25px;

    -fx-text-fill: white;
    color: white;

    -fx-padding: 10px;
    padding: 10px;

    -fx-font-weight: bold;
    font-weight: bold;
}

.settings-menu .button {
    -fx-background-color: none;
    background-color: none;

    -fx-text-fill: white;
    color: white;

    -fx-font-size: 16px;
    font-size: 16px;
}

.settings-menu .VBox {
    -fx-border-width: 0px 4px 0px 0px;
    border-width: 0px 4px 0px 0px;

    -fx-border-color: white;
    border-color: white;
}

.player-label {
    -fx-font-size: 16px;
    font-size: 16px;

    -fx-padding: 2px;
    padding: 2px;
}

.players .title {
    -fx-font-size: 25px;
    font-size: 25px;

    -fx-font-weight: bold;
    font-weight: bold;
}