#background {
    -fx-background-image: url("resources/background.png");
    background-image: url("resources/background.png");

    -fx-background-repeat: no-repeat;
    background-repeat: no-repeat;

    -fx-background-position: center center;
    background-position: center center;
}

.hand {
    -fx-alignment: center;
    align-content: center;
}

.players {
    -fx-padding: 10px;
    padding: 10px;
}

.selection-pane {
    -fx-padding: 10px;
    padding: 10px;

    /* -fx-background-color: rgba(128, 128, 128, 0.275);
    background-color: rgba(128, 128, 128, 0.275); */
}

.player-label {
    -fx-font-size: 16px;
    font-size: 16px;

    -fx-padding: 2px;
    padding: 2px;
}

.players .title {
    -fx-font-size: 25px;
    font-size: 25px;

    -fx-font-weight: bold;
    font-weight: bold;
}