.hand {
    -fx-background-color: #1111;
    background-color: #1111;

    -fx-border-color: #000000;
    border-color: #000000;

    -fx-border-width: 5px;
    border-width: 5px;

    -fx-alignment: center;
    align-content: center;

    -fx-padding: 10px;
    padding: 10px;
}

.playzone {
    -fx-border-color: #000000;
    border-color: #000000;

    -fx-border-width: 5px;
    border-width: 5px;
}

.enemies {
    -fx-background-color: #1111;
    background-color: #1111;

    -fx-border-color: #000000;
    border-color: #000000;

    -fx-border-width: 5px;
    border-width: 5px;

    -fx-padding: 10px;
    padding: 10px;
}

.enemy {
    -fx-font-size: 16px;
    font-size: 16px;

    -fx-padding: 2px;
    padding: 2px;
}

.enemies .title {
    -fx-font-size: 25px;
    font-size: 25px;

    -fx-font-weight: bold;
    font-weight: bold;
}