.hand {
    -fx-background-color: #1111;
    background-color: #1111;

    -fx-border-color: #000000;
    border-color: #000000;

    -fx-border-width: 5px;
    border-width: 5px;

    -fx-alignment: center;
    align-content: center;

    -fx-padding: 10px;
    padding: 10px;
}

.playzone {
    -fx-background-color: #1111;
    background-color: #1111;

    -fx-border-color: #000000;
    border-color: #000000;

    -fx-border-width: 5px;
    border-width: 5px;
}